@charset 'UTF-8';

.page {
  flex-grow: 1;
  margin-top: 32px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 540px) {
  .page {
    margin-top: 32px;
    margin-bottom: 64px;
  }
}

.post {
  margin: 0 auto;
}

.post__header {
  text-align: center;
  margin-bottom: 32px;
}

.content {
  margin-bottom: 32px;
}

.content__header {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 16px;
  border: var(--number-content-border-size) solid var(--color-content-borderline);
  border-radius: var(--number-content-border-radius);
  color: var(--color-text-header);
  font-size: 1.8em;
}

.content__header_emerald {
  border: var(--number-content-border-size) solid var(--color-content-header-colored-borderline);
  background-color: var(--color-content-header-colored);
  color: var(--color-white);
}

.content__header_emerald::selection {
  background-color: var(--color-content-header-colored-selection);
}

.content__image {
  width: 100%;
  border: var(--number-content-border-size) solid var(--color-content-borderline);
  border-radius: var(--number-content-border-radius);
}

.content-item {
  margin-bottom: 8px;
}

.content-item_bordered {
  padding: 16px;
  border: var(--number-content-border-size) solid var(--color-content-item-borderline);
  border-radius: var(--number-content-border-radius);
}

.content-item__header {
  margin-bottom: 16px;
}

.content-link {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}

@media only screen and (min-width: 540px) {
  /* .content {
    margin-bottom: 64px;
  } */

  .content__header {
    margin-bottom: 32px;
  }

  .content-item {
    margin-bottom: 16px;
  }
}
