@charset 'UTF-8';

.footer {
  border-top: 4px solid var(--color-footer-borderline);
}

.footer span {
  color: var(--color-footer-text);
}

.footer-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}
