/* ------------------------------ */
/* eugene-serb.github.io styles   */
/* version:     dated 2022.07.24  */
/* author:      Eugene Serb       */
/* ------------------------------ */

@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* ------------------------------ */
/* RESET AND BASE STYLES' TUNE UP */
/* ------------------------------ */

:root {
    /* Base colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    /* Palette of five colors */
    --color-a: #087E8B;
    --color-b: #FF5A5F;
    --color-c: #3C3C3C;
    --color-d: #F5F5F5;
    --color-e: #C1839F;
    /* Palette A -- monochromatic */
    --color-a-monocromatic-a: #0DC4D9;
    --color-a-monocromatic-b: #39959F;
    --color-a-monocromatic-c: #4ECBD9;
    --color-a-monocromatic-d: #055159;
    /* Palette B -- monochromatic */
    --color-b-monocromatic-a: #802D2F;
    --color-b-monocromatic-b: #FFA6A9;
    --color-b-monocromatic-c: #805354;
    --color-b-monocromatic-d: #CC474C;
    /* Palette C -- monochromatic */
    --color-c-monocromatic-a: #8A8A8A;
    --color-c-monocromatic-b: #573D3D;
    --color-c-monocromatic-c: #8A6060;
    --color-c-monocromatic-d: #D6D6D6;
    /* Palette D -- monochromatic */
    --color-d-monocromatic-a: #757575;
    --color-d-monocromatic-b: #F7ADAD;
    --color-d-monocromatic-c: #755252;
    --color-d-monocromatic-d: #C2C2C2;
    /* Palette E -- monochromatic */
    --color-e-monocromatic-a: #422D37;
    --color-e-monocromatic-b: #CC4E86;
    --color-e-monocromatic-c: #42192C;
    --color-e-monocromatic-d: #8F6176;
}

:root {
    /* Base numbers */
    --number-border-radius: 8px;
    --number-border-size: 2px;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Base colors */
        --color-border: #4ECBD940;
        --color-background: var(--color-white);
        --color-text: var(--color-c);
        --color-text-header: var(--color-Ñ);
        --color-link: var(--color-a);
        --color-link-hover: var(--color-a-monocromatic-a);
        --color-selection: var(--color-a-monocromatic-c);
        --color-fieldset-border: #4ECBD940;
        --color-table-header-background: var(--color-a);
        --color-table-header-text: var(--color-d);
        --color-table-item: var(--color-a-monocromatic-a);
        /* Components colors */
        --color-header-background: var(--color-a-monocromatic-c);
        --color-header-borderline: var(--color-a);
        --color-header-selection: var(--color-a-monocromatic-b);
        --color-header-logo: var(--color-white);
        --color-header-navigation-link: var(--color-white);
        --color-header-navigation-link-hover: var(--color-white);
        --color-footer-borderline: var(--color-a);
        --color-footer-text: var(--color-c);
        --color-content-borderline: var(--color-a);
        --color-content-item-borderline: #4ECBD940;
        --color-content-header-colored: var(--color-a-monocromatic-c);
        --color-content-header-colored-borderline: var(--color-a);
        --color-content-header-colored-selection: var(--color-a-monocromatic-b);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Base colors */
        --color-border: #4ECBD940;
        --color-background: var(--color-c);
        --color-text: var(--color-d);
        --color-text-header: var(--color-d);
        --color-link: var(--color-a);
        --color-link-hover: var(--color-a-monocromatic-a);
        --color-selection: var(--color-a-monocromatic-c);
        --color-fieldset-border: #4ECBD940;
        --color-table-header-background: var(--color-a-monocromatic-a);
        --color-table-header-text: var(--color-c);
        --color-table-item: var(--color-a);
        /* Components colors */
        --color-header-background: var(--color-a);
        --color-header-borderline: var(--color-a-monocromatic-c);
        --color-header-selection: var(--color-a-monocromatic-b);
        --color-header-logo: var(--color-white);
        --color-header-navigation-link: var(--color-white);
        --color-header-navigation-link-hover: var(--color-white);
        --color-footer-borderline: var(--color-a);
        --color-footer-text: var(--color-d);
        --color-content-borderline: var(--color-a);
        --color-content-item-borderline: #4ECBD940;
        --color-content-header-colored: var(--color-a);
        --color-content-header-colored-borderline: var(--color-a-monocromatic-c);
        --color-content-header-colored-selection: var(--color-a-monocromatic-b);
    }
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    font-size: 16px;
    line-height: 1.382em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: var(--color-background);
}

::selection {
    background: var(--color-selection);
}

:focus {
    border-bottom: 2px solid var(--color-selection);
}

:focus-visible {
    outline: 2px solid var(--color-selection);
    border-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-header);
    font-weight: 500;
    margin-block-start: 0.382em;
    margin-block-end: 0.618em;
    line-height: 1.382em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }
big { font-size: larger; }
small { font-size: smaller; }

span, p, article, blockquote {
    color: var(--color-text);
    font-weight: 300;
}

ul {
    padding: 16px;
    list-style-type: circle;
}

a {
    background-color: transparent;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    color: var(--color-link);
    text-decoration: none;
}

    a:hover {
        border-bottom: 2px solid var(--color-link-hover);
        color: var(--color-link-hover);
        transition: all 0.5s ease;
        text-decoration: none;
    }

/* ----- */
/* FORMS */
/* ----- */

hr {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

legend {
    padding: 2px 4px;
    text-align: left;
}

fieldset {
    border: 2px solid var(--color-fieldset-border);
    border-radius: var(--number-border-radius);
    padding: 8px;
}

button, input, textarea, select {
    padding: 4px 8px;
    border: 2px solid var(--color-link);
    border-radius: var(--number-border-radius);
    background: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.382em;
    white-space: nowrap;
}

    button:hover, input:hover,
    textarea:hover, select:hover {
        border: 2px solid var(--color-link-hover);
        transition: all 0.5s ease;
    }

option {
    background: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.382em;
}

    option:hover {
        background-color: var(--color-selection);
        color: var(--color-white);
    }

/* ------ */
/* TABLES */
/* ------ */

table, th, td {
    width: 100%;
    padding: 8px;
    border-collapse: collapse;
    table-layout: fixed;
    font-weight: 400;
}

.table_emerald thead {
    border-bottom: 4px solid var(--color-table-item);
}

    .table_emerald thead > tr {
        background-color: var(--color-table-header-background);
        color: var(--color-table-header-text);
    }

        .table_emerald thead > tr > th {
            font-weight: 500;
        }

.table_emerald tbody > tr:nth-child(even) {
    background-color: var(--color-table-item);
    color: var(--color-d);
}

.table_emerald tfoot {
    border-top: 4px solid var(--color-table-header-background);
}

/* ------------- */
/* SERVICE RULES */
/* ------------- */

.hidden {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* ----------------- */
/* COMPONENTS STYLES */
/* ----------------- */

/* ------ */
/* HEADER */
/* ------ */

.header {
    border-bottom: 32px solid var(--color-header-borderline);
    background: var(--color-header-background);
}

    .header ::selection {
        background: var(--color-header-selection);
    }

    .header :focus {
        border-bottom: 2px solid var(--color-header-navigation-link-hover);
    }

    .header :focus-visible {
        outline: 2px solid var(--color-header-navigation-link-hover);
        border-color: transparent;
    }

.header-wrapper {
    padding-top: 64px;
    padding-bottom: 16px;
}

.logo-wrapper {
    text-align: center;
}

.logo-wrapper__logo {
    font-size: 48px;
    font-weight: 500;
    color: var(--color-header-logo);
    cursor: default;
}

.menu-wrapper {
    margin-top: 32px;
    align-self: center;
}

.navigation {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.navigation__item {
    font-size: 16px;
    text-transform: uppercase;
}

    .navigation__item a {
        border-color: transparent;
        color: var(--color-header-navigation-link);
    }

        .navigation__item a:hover {
            border-color: var(--color-header-navigation-link-hover);
            color: var(--color-header-navigation-link-hover);
        }

@media only screen and (min-width: 720px) {
    .header-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 64px;
    }

    .logo-wrapper {
        width: 50%;
        text-align: left;
    }

    .menu-wrapper {
        width: 50%;
        margin-top: 0px;
        align-self: flex-end;
    }
}

@media only screen and (min-width: 1024px) {
    .logo-wrapper__logo {
        font-size: 64px;
    }
}

/* ------ */
/* FOOTER */
/* ------ */

.footer {
    border-top: 4px solid var(--color-footer-borderline);
}

    .footer span {
        color: var(--color-footer-text);
    }

.footer-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.created-by {
    align-self: flex-end;
}

    .created-by > span {
        padding-right: 8px;
    }

    .created-by > a {
        font-size: 32px;
    }

/* ---- */
/* PAGE */
/* ---- */

.page {
    flex-grow: 1;
    margin-top: 64px;
    margin-bottom: 64px;
}

/* ---- */
/* POST */
/* ---- */

.post {
    margin: 0 auto;
}

.post__header {
    text-align: center;
    margin-block-end: 32px;
}

/* ------- */
/* CONTENT */
/* ------- */

.content {
    margin-bottom: 64px;
}

.content__header {
    margin-top: 0;
    margin-bottom: 32px;
    padding-left: 16px;
    border: 2px solid var(--color-content-borderline);
    border-radius: var(--number-border-radius);
    color: var(--color-text-header);
    font-size: 1.8em;
}

    .content__header_emerald {
        padding: 8px 16px;
        border: 2px solid var(--color-content-header-colored-borderline);
        background-color: var(--color-content-header-colored);
        color: var(--color-white);
        font-size: 2.2em;
    }

        .content__header_emerald::selection {
            background-color: var(--color-content-header-colored-selection);
        }

.content__image {
    width: 100%;
    border: 2px solid var(--color-content-borderline);
    border-radius: var(--number-border-radius);
}

.content-item {
    margin-bottom: 16px;
}

    .content-item_bordered {
        padding: 16px;
        border: 2px solid var(--color-content-item-borderline);
        border-radius: var(--number-border-radius);
    }

    .content-item__header {
        margin-bottom: 16px;
    }

.content-link {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 8px;
}

/* -------- */
/* CONTACTS */
/* -------- */

.contacts {
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 16px;
    font-style: normal;
}

.contacts__iconed-links-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 32px;
    row-gap: 16px;
    padding: 0;
    list-style-type: none;
}

.contacts__iconed-link {
    border: none;
}

    .contacts__iconed-link:hover {
        border: none;
    }

/* ---- */
/* GITS */
/* ---- */

.git-link {
    margin-left: 4px;
    font-size: 12px;
}

    .git-link a {
        border-bottom: 1px solid transparent;
    }

        .git-link a:hover {
            border-bottom: 1px solid var(--color-link-hover);
        }

/* ---- */
/* TAGS */
/* ---- */

.tag-row {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.tag-item {
    padding: 2px 8px;
    border: 1px solid var(--color-c);
    border-radius: var(--number-border-radius);
    background-color: var(--color-a-monocromatic-c);
    color: var(--color-white);
    font-weight: 500;
}

    .tag-item::selection {
        background-color: var(--color-a-monocromatic-b);
    }

.tag-item_html { background-color: #E34C26; }
.tag-item_css { background-color: #563D7C; }
.tag-item_sass { background-color: #CF649A; }
.tag-item_ts { background-color: #2B7489; }
.tag-item_vue { background-color: #42B983; }
.tag-item_node { background-color: #026E00; }
.tag-item_postgres { background-color: #336791; }
.tag-item_npm { background-color: #CB0000; }
.tag-item_git { background-color: #F14E32; }
.tag-item_php { background-color: #4F5D95; }
.tag-item_c-sharp { background-color: #178600; }
.tag-item_c-plus-plus { background-color: #f34B7D; }
.tag-item_c-lang { background-color: #555555; }
.tag-item_visual-basic-dotnet { background-color: #945DB7; }
.tag-item_python { background-color: #3572A5; }

.tag-item_pascal {
    background-color: #E3F171;
    color: var(--color-c);
}

.tag-item_js {
    background-color: #f1e05a;
    color: var(--color-c);
}

.tag-item_react {
    background-color: #282c34;
    color: #61dafb;
}

.tag-item_electron {
    background-color: #2b2e3b;
    color: #9feaf9;
}

.tag-item_mongo {
    border-color: #00684A;
    background-color: #00ED64;
    color: #001E2B;
}

.tag-item_express {
    background-color: #e0f5ff;
    color: var(--color-c);
}

.tag-item_eslint {
    border-color: #4a2ec4;
    background-color: #8181f2;
}

/* ----- */
/* PAGES */
/* ----- */

/* -------- */
/* HOMEPAGE */
/* -------- */

@media only screen and (min-width: 960px) {
    .homepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }

    .column-first {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .column-second {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

